// **************
// COLOR VARIABLES
// *************




// **************
// BREAK POINTS
// *************

$breakpoint-desktop: 2500px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;



// **************
// BREAK POINTS
// *************
